
.orderview-Transactions{
    .orderview-Transactions0{
        background-color:#98C800 !important; 
    }
    .orderview-Transactions1{
        background-color:#FF6735 !important; 
    }
    .orderview-Transactions2{
        background-color:#32AFEF !important; 
    }
}