.orderview-sellSide{
   
    padding: 8px;
    .orderview-sellSide-content{
        display: flex;
    }
    .orderview-left{
        flex-basis: 200px;
    }
    .orderview-right{
        flex:auto;
    }
}
.orderview-Transactions{
    .orderview-Transactions1{
        background-color:#98C800 !important; 
    }
    .orderview-Transactions2{
        background-color:#FF6735 !important; 
    }
    .orderview-Transactions3{
        background-color:#32AFEF !important; 
    }
}